body {
  margin: 0 auto;
  display: flex;

}

.foundation {
  width: 500px;
  height: 40px;
  border: saddlebrown solid 5px;
  background-color: saddlebrown;
  position: relative;
  top: 680px;
  right: 485px;


}



.window {

  width: 100px;
  height: 100px;
  border: blue solid 5px;
  background-color: aqua;
  position: relative;
  left: 290px;
  top: 70px;
}

.stick1 {
  width: 2px;
  height: 100px;
  border: blue solid 1px;
  background-color: blue;
  position: relative;

  left: 50px;
}

.stick2 {
  width: 100px;
  height: 2px;
  border: blue solid 1px;
  background-color: blue;
  position: relative;
  bottom: 65px;
}

.door {
  width: 150px;
  height: 200px;
  border: chocolate solid 5px;
  background-color: chocolate;
  position: relative;
  left: 50px;
  top: 30px;
}

.knob {
  width: 8px;
  height: 2px;
  border: gold solid 1px;
  background-color: gold;
  position: relative;
  left: 20px;
  top: 80px;
}

.container-home {

  /*right: 25px;*/
  width: 449px;
  height: 350px;
  border: brown solid 6px;
  background-color: darkred;
  position: relative;
  top: 319px

}

.roof {
  width: 270px;
  height: 270px;
  border: transparent solid 150px ;
  border-bottom: 150px solid saddlebrown;
  position: relative;
  left: 510px;
  bottom: 325px;
  border-radius: 20px;
}

.flue {
  width: 25px;
  height: 80px;
  border: grey solid 2px;
  position: relative;
  left: 600px;
  top: 160px;
  background-color: saddlebrown;
}
